pre { line-height: 125%; }
td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.gruvebox-dark-style .hll { background-color: #ebdbb2 }
.gruvebox-dark-style { background: #282828; color: #DDD }
.gruvebox-dark-style .c { color: #928374; font-style: italic } /* Comment */
.gruvebox-dark-style .err { color: #282828; background-color: #FB4934 } /* Error */
.gruvebox-dark-style .esc { color: #DDD } /* Escape */
.gruvebox-dark-style .g { color: #DDD } /* Generic */
.gruvebox-dark-style .k { color: #FB4934 } /* Keyword */
.gruvebox-dark-style .l { color: #DDD } /* Literal */
.gruvebox-dark-style .n { color: #DDD } /* Name */
.gruvebox-dark-style .o { color: #DDD } /* Operator */
.gruvebox-dark-style .x { color: #DDD } /* Other */
.gruvebox-dark-style .p { color: #DDD } /* Punctuation */
.gruvebox-dark-style .ch { color: #928374; font-style: italic } /* Comment.Hashbang */
.gruvebox-dark-style .cm { color: #928374; font-style: italic } /* Comment.Multiline */
.gruvebox-dark-style .c-PreProc { color: #8EC07C; font-style: italic } /* Comment.PreProc */
.gruvebox-dark-style .cp { color: #928374; font-style: italic } /* Comment.Preproc */
.gruvebox-dark-style .cpf { color: #928374; font-style: italic } /* Comment.PreprocFile */
.gruvebox-dark-style .c1 { color: #928374; font-style: italic } /* Comment.Single */
.gruvebox-dark-style .cs { color: #EBDBB2; font-weight: bold; font-style: italic } /* Comment.Special */
.gruvebox-dark-style .gd { color: #282828; background-color: #FB4934 } /* Generic.Deleted */
.gruvebox-dark-style .ge { color: #DDD; font-style: italic } /* Generic.Emph */
.gruvebox-dark-style .ges { color: #DDD; font-weight: bold; font-style: italic } /* Generic.EmphStrong */
.gruvebox-dark-style .gr { color: #FB4934 } /* Generic.Error */
.gruvebox-dark-style .gh { color: #EBDBB2; font-weight: bold } /* Generic.Heading */
.gruvebox-dark-style .gi { color: #282828; background-color: #B8BB26 } /* Generic.Inserted */
.gruvebox-dark-style .go { color: #F2E5BC } /* Generic.Output */
.gruvebox-dark-style .gp { color: #A89984 } /* Generic.Prompt */
.gruvebox-dark-style .gs { color: #DDD; font-weight: bold } /* Generic.Strong */
.gruvebox-dark-style .gu { color: #EBDBB2; text-decoration: underline } /* Generic.Subheading */
.gruvebox-dark-style .gt { color: #FB4934 } /* Generic.Traceback */
.gruvebox-dark-style .kc { color: #FB4934 } /* Keyword.Constant */
.gruvebox-dark-style .kd { color: #FB4934 } /* Keyword.Declaration */
.gruvebox-dark-style .kn { color: #FB4934 } /* Keyword.Namespace */
.gruvebox-dark-style .kp { color: #FB4934 } /* Keyword.Pseudo */
.gruvebox-dark-style .kr { color: #FB4934 } /* Keyword.Reserved */
.gruvebox-dark-style .kt { color: #FB4934 } /* Keyword.Type */
.gruvebox-dark-style .ld { color: #DDD } /* Literal.Date */
.gruvebox-dark-style .m { color: #D3869B } /* Literal.Number */
.gruvebox-dark-style .s { color: #B8BB26 } /* Literal.String */
.gruvebox-dark-style .na { color: #FABD2F } /* Name.Attribute */
.gruvebox-dark-style .nb { color: #FE8019 } /* Name.Builtin */
.gruvebox-dark-style .nc { color: #8EC07C } /* Name.Class */
.gruvebox-dark-style .no { color: #D3869B } /* Name.Constant */
.gruvebox-dark-style .nd { color: #FB4934 } /* Name.Decorator */
.gruvebox-dark-style .ni { color: #DDD } /* Name.Entity */
.gruvebox-dark-style .ne { color: #FB4934 } /* Name.Exception */
.gruvebox-dark-style .nf { color: #8EC07C } /* Name.Function */
.gruvebox-dark-style .nl { color: #DDD } /* Name.Label */
.gruvebox-dark-style .nn { color: #8EC07C } /* Name.Namespace */
.gruvebox-dark-style .nx { color: #DDD } /* Name.Other */
.gruvebox-dark-style .py { color: #DDD } /* Name.Property */
.gruvebox-dark-style .nt { color: #8EC07C } /* Name.Tag */
.gruvebox-dark-style .nv { color: #83A598 } /* Name.Variable */
.gruvebox-dark-style .ow { color: #FB4934 } /* Operator.Word */
.gruvebox-dark-style .pm { color: #DDD } /* Punctuation.Marker */
.gruvebox-dark-style .w { color: #DDD } /* Text.Whitespace */
.gruvebox-dark-style .mb { color: #D3869B } /* Literal.Number.Bin */
.gruvebox-dark-style .mf { color: #D3869B } /* Literal.Number.Float */
.gruvebox-dark-style .mh { color: #D3869B } /* Literal.Number.Hex */
.gruvebox-dark-style .mi { color: #D3869B } /* Literal.Number.Integer */
.gruvebox-dark-style .mo { color: #D3869B } /* Literal.Number.Oct */
.gruvebox-dark-style .sa { color: #B8BB26 } /* Literal.String.Affix */
.gruvebox-dark-style .sb { color: #B8BB26 } /* Literal.String.Backtick */
.gruvebox-dark-style .sc { color: #B8BB26 } /* Literal.String.Char */
.gruvebox-dark-style .dl { color: #B8BB26 } /* Literal.String.Delimiter */
.gruvebox-dark-style .sd { color: #B8BB26 } /* Literal.String.Doc */
.gruvebox-dark-style .s2 { color: #B8BB26 } /* Literal.String.Double */
.gruvebox-dark-style .se { color: #FE8019 } /* Literal.String.Escape */
.gruvebox-dark-style .sh { color: #B8BB26 } /* Literal.String.Heredoc */
.gruvebox-dark-style .si { color: #B8BB26 } /* Literal.String.Interpol */
.gruvebox-dark-style .sx { color: #B8BB26 } /* Literal.String.Other */
.gruvebox-dark-style .sr { color: #B8BB26 } /* Literal.String.Regex */
.gruvebox-dark-style .s1 { color: #B8BB26 } /* Literal.String.Single */
.gruvebox-dark-style .ss { color: #B8BB26 } /* Literal.String.Symbol */
.gruvebox-dark-style .bp { color: #FE8019 } /* Name.Builtin.Pseudo */
.gruvebox-dark-style .fm { color: #8EC07C } /* Name.Function.Magic */
.gruvebox-dark-style .vc { color: #83A598 } /* Name.Variable.Class */
.gruvebox-dark-style .vg { color: #83A598 } /* Name.Variable.Global */
.gruvebox-dark-style .vi { color: #83A598 } /* Name.Variable.Instance */
.gruvebox-dark-style .vm { color: #83A598 } /* Name.Variable.Magic */
.gruvebox-dark-style .il { color: #D3869B } /* Literal.Number.Integer.Long */
